<p>demo works!</p>


<!--
String Interpolation
  {{ title }}
-->

<!--Data binding-->
<input type="text" [(ngModel)] = "title">
{{ title }}

<!-- ngIf -->
<div *ngIf="title === 'nicolas'">
  Este es un div
</div>

<!-- ngSwitch -->
<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">Este es nicolas</p>
  <p *ngSwitchCase="'julian'">Este es julian</p>
  <p *ngSwitchCase="'sara'">Esta es sara</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()" >Add item</button>

<!-- ngFor -->
<ul>
  <li *ngIf="items.length === 0">Lista vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}

    <button (click)="deleteItem(i)">Delete item</button>
  </li>
</ul>


<!-- <div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" alt="img"/>
  {{ product.price }}
</div> -->
<!-- <img src="{{ product.image }}" alt="img"/> -->


<input type="text" [(ngModel)]="power">
{{ power | exponential }}


